/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff5ed;
  --foreground: #333333;
}

body {
  cursor: crosshair; /* TO DO: add custom crosshair */
  color: var(--foreground);
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* TO DO: Implement dark theme */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
